
@ANIMATION_DURATION: 0.5s;
@ANIMATION_STYLE:  ease-in-out;
@PANEL_WIDTH: 15em;

.mblSidePane{
  width: @PANEL_WIDTH;
  height: 100%;
  top: 0;
  box-sizing: border-box;
  position: fixed;
  -webkit-transform: translate3d(0, 0, 0);
}

.mblSidePaneOverlay{
  width: 25%;
  z-index: 1000;

}

.mblSidePanePush{
  //display: inline-block;
  z-index: 1000;
}


.animateTransform{
  -moz-transition: -moz-transform @ANIMATION_DURATION @ANIMATION_STYLE;
  -webkit-transition: -webkit-transform @ANIMATION_DURATION @ANIMATION_STYLE;
  -ms-transition: -mstransform @ANIMATION_DURATION @ANIMATION_STYLE;
  transition: transform @ANIMATION_DURATION @ANIMATION_STYLE;
}

.animate(@param){
  -moz-transition: @param @ANIMATION_DURATION @ANIMATION_STYLE;
  -webkit-transition: @param @ANIMATION_DURATION @ANIMATION_STYLE;
  -ms-transition: @param @ANIMATION_DURATION @ANIMATION_STYLE;
  transition: @param @ANIMATION_DURATION @ANIMATION_STYLE;

}

.mblSidePaneStart{
  .animate(left);
  border-right: solid black 1px;
}

.mblSidePaneEnd{
  .animate(right);
  border-left: solid black 1px;
}

.noSelect{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mblSidePaneStartPushHiddenPane{

  -webkit-transform: translate3d(-@PANEL_WIDTH, 0px, 0px);
  transform: translate3d(-@PANEL_WIDTH, 0px, 0px);
  .animateTransform();
}
.mblSidePaneStartPushVisiblePane{

  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  .animateTransform();
}

.mblSidePaneStartPushHiddenWrapper{
  -webkit-transform: translate3d(@PANEL_WIDTH, 0px, 0px);
  transform: translate3d(@PANEL_WIDTH, 0px, 0px);
  .animateTransform();
}
.mblSidePaneStartPushVisibleWrapper{
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(px, 0px, 0px);
  .animateTransform();
}
////////////////////
.mblSidePaneEndPushHiddenPane{

  right: 0;
  -webkit-transform: translate3d(@PANEL_WIDTH, 0px, 0px);
  transform: translate3d(@PANEL_WIDTH, 0px, 0px);
  .animateTransform();
}
.mblSidePaneEndPushVisiblePane{

  right: 0;
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  .animateTransform();
}

.mblSidePaneEndPushHiddenWrapper{
  -webkit-transform: translate3d(-@PANEL_WIDTH, 0px, 0px);
  transform: translate3d(-@PANEL_WIDTH, 0px, 0px);
  .animateTransform();
}
.mblSidePaneEndPushVisibleWrapper{
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  .animateTransform();
}